@import "tailwindcss";
@import "./styles/theme.css" layer(base);

/* Dark mode variant */
@variant dark (&:where(.dark, .dark *));

@theme {
	--font-sans: "Roboto", sans-serif;
	--color-primary: var(--color-primary);
	--color-background: var(--color-background);
	--color-card: var(--color-card);
	--color-secondary: var(--color-secondary);
	--color-tertiary: var(--color-tertiary);
	--color-border: var(--color-border);
	--color-hover: var(--color-hover);
	--color-drawer: var(--color-drawer);
	--color-drawer-overlay: var(--color-drawer-overlay);
	--color-badge: var(--color-badge);
}
